# ignore binary packages and files
**/*.rpm
**/*.jar
**/*.zip
**/*.tar.gz
**/*.tgz
eus/db
eus/oud
zzzz
**/*.vagrant

# ignore mac OS resource forks
**/*.DS_Store

# Eclipse, vagrant and VSC stuff
/.pydevproject
/.project
/.vscode
/.vagrant
**/*.code-workspace
scripts/opwdintg.exe
stage/PatchSearch.xml
scripts/db.trivadislabs.com.keytab
scripts/opwdintg.exe
scripts/ad.trivadislabs.com_root_ca.cer
common/*/*/*.keytab
common/*/*/*.cer